* {
    font-family: 'Bahnschrift', "Segoe UI" , "Segoe" , "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 350;
    font-size: xx-large;

    letter-spacing: 0.25ch;
}

h2 {
    font-size: x-large;
    font-weight: 200;

    letter-spacing: unset;
}

.page-content {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;

    gap: 2rem;
}

.no-highlight {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.background {
    z-index: -1;
    position: absolute;
    pointer-events: none;

    inset: 0;
    overflow: hidden;
}

.background > img {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    object-fit: cover;
}

.background::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(35px) brightness(110%);
}

.login {
    margin: auto auto 0 auto;
    width: 30rem;
    min-height: 35rem;
    background-color: white;

    padding: 3rem;
    gap: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 30px 50px black;
}

.login > .header {
    height: 100px;
}

.login > .header > svg {
    margin-bottom: 1rem;
}

.login-forms {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    margin-top: 2rem;
}

.login-forms input {
    width: 20rem;
    height: 2rem;

    font-size: larger;
    font-weight: 200;

    display: flex;

    text-align: left;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.login-forms input:focus {
    outline: none;
}

.username {
    position: relative;
}

.infocir {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2rem;

    font-size: large;

    color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.infocir:after {
    content: attr(data-text); /* here's the magic */
    position:absolute;

    color: black;

    font-weight: 100;

    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);

    width: 15rem;
    padding: 1rem;
    border-radius: 0.5rem;

    top: -7rem;
    left: -50%;

    background-color: lightgrey;

    pointer-events: none;

    opacity: 0;
    transition: all 300ms ease;
}

.infocir:hover::after {
    opacity: 1;
}

.username input:not(input:placeholder-shown) + span {
    transform-origin: center left;
    transform: translateY(-1.5rem) scale(75%) ;
}

.username span {
    position:absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    color: rgba(0, 0, 0, 0.5);

    transition: all 300ms ease;
}

.password {
    position: relative;
}

.password input:not(input:placeholder-shown) + span {
    transform-origin: center left;
    transform: translateY(-1.5rem) scale(75%) ;
}

.password span {
    position:absolute;

    left: 0;
    top: 0;

    pointer-events: none;

    color: rgba(0, 0, 0, 0.5);

    transition: all 300ms ease;
}

.resetlinks {
    display: flex;
    flex-direction: column;

    padding: 1rem 2rem;

    background: hsl(0, 0%, 90%);
}

.resetlinks a {
    font-weight: 100;
}

.hidden {
    display: none;
}

#passwdresetlinks {
    text-decoration: underline;
    color: #2e50af;
    cursor: pointer;
    font-weight: 100;
}

.interactions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    padding: 0px 2rem;
}

.next {
    border: solid #00095b;
    border-width: 0.25rem 1rem;
    background-color: #00095b;

    text-decoration: none;
    color: white;
    font-weight: 100;
}

.copy {
    color: white;
    font-weight: 100;
    margin-bottom: auto;
}
