* {
    font-family: 'Bahnschrift', "Segoe UI" , "Segoe" , "SegoeUI-Regular-final", Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: 350;
    font-size: xx-large;

    letter-spacing: 0.25ch;
}

h2 {
    font-size: x-large;
    font-weight: 200;

    letter-spacing: unset;
}

.no-highlight {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.background {
    z-index: -1;
    position: absolute;
    pointer-events: none;

    inset: 0;
    overflow: hidden;
}

.background > img {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    object-fit: cover;
}

.background::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px) brightness(110%);
}

.login {
    margin-left: auto;
    width: 35rem;
    height: 100vh;
    background-color: white;

    padding: 3rem;
    gap: 2rem;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.5);
}

.login > .header {
    height: 100px;
}

.login > .header > svg {
    margin-bottom: 1rem;
}

.accounts {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.account-content {
    display: flex;
    flex-direction: column;

}

.account {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;

    text-decoration: none;
    color: black;
}

.account:hover {
    background-color: #eeeeee;
}

.account > img {
    width: 4rem;
}

.account > span {
    font-weight: 100;
    font-size: larger;
    text-align: left;
}
