body {
    background: var(--color-bg);
}

h2 {
    color: var(--color-light);
    font-weight: 100;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-light);

    padding: 0 10px;

    position: relative;
}

li {
    text-align: left;
}

li > a {
    display: flex;
    gap: 2rem;
}

a::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 100%;
    top: 0px;
    left: 0;
    background-color: var(--color-light);
    mix-blend-mode:difference;

    transition: all 300ms ease;
}

a:hover::before {
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* flex: auto; */

    width: 100%;
    max-width: 80ch;
    
    align-self: center;
    padding: 2rem;

    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar {
    height: 3rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profileimage {
    max-height: 100%;
    aspect-ratio: 1 / 1;
    display: inline;

    padding: 0;
    
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

.profileimage > img {
    max-width: 100%;
    object-fit: cover;
}

.navbar .navlinks * {
    text-align: center;
    font-weight: lighter;
}

.navbar > .kya {
    width: auto;
    height: 100%;
}

.header {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.head-name {
    font-weight: 100;
    color: var(--color-light);
}

.subheader {
    font-weight: 100;
    color: var(--color-light);
    opacity: 0.5;
}

.socials {
    display: flex;
    flex-direction: column;

    width: 10rem;
    align-items: center;
    justify-content: center;

    margin: 2rem auto 2rem auto;

    padding: 2rem 0 2rem 0;

    border: 1px solid var(--color-light);
    border-left: none;
    border-right: none;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;

    width: 100%;
}

.socials > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;

    list-style-type: none;
}

.work {
    margin-top: 10rem;
    margin-bottom: 10rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
