---
import Layout from "~/layouts/Layout.astro";

import Ford from "public/Ford_logo_flat.svg";

import "../styles/axz.css";
---
<Layout title="AXZ Developer Preview", description="A project I made for work - a 'working' preview of my AXZ login flow mockups", favicon="favicon.svg", image="favicon.svg", color="#FF1464">
    <div class="page-content">
        <div class="background">
            <img class="no-highlight" src="https://www.mustangspecs.com/wp-content/uploads/2022/01/2020-Ford-Mustang-Cobra-Jet-1400-Concept-005-2160-scaled.jpg" alt="Ford Mustang"/>
        </div>
        <div class="login">
            <div class="header">
                <Ford width="10rem" height="auto" fill="red"/>
                <h1>Secure Web Logon</h1>
            </div>
            <div class="accounts">
                <h2>Please select an account:</h2>
                <div class="account-content">
                    <a href="/axz/login" class="account">
                        <img src="https://corp.sts.ford.com/adfs/portal/images/idp/idp.png?id=3EADD3E829A20DF612C7A77960FF811E66E3EE6BAE2C33C9B20E7478BAC87548" alt="Retiree Badge">
                        <span>Retirees, Dealers, Other</span>
                    </a>
                    <a href="/axz/login" class="account">
                        <img src="https://corp.sts.ford.com/adfs/portal/images/idp/localsts.png?id=A3911892BE04D81EBA5A8E0C74F77099AA1DB05E542FBFCC78C9DF4B0EC0E3A6" alt="Active Badge">
                        <span>Active Directory</span>
                    </a>
                </div>
            </div>
            <div class="pwreset">
                <h3>Retirees (Hourly and Salaried)</h3>
                <p>If you do not have a User ID, have forgotten your User/CDS ID, or need to reset your password, please click <a href="/axz/retireepwreset">here</a> for North America and <a href="https://changepassword.ford.com/">here</a> for the rest of the world.</p>
            </div>
        </div>
    </div>
</Layout>
